# RPC URLs
ETHERLINK=https://node.ghostnet.etherlink.com


# Etherscan API Keys for verification
ETHERSCAN_API_KEY=your_etherscan_api_key


# Configuration
PLATFORM_FEE=500  # 5% in basis points
TRADING_FEE=25    # 0.25% in basis points